@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-animation {
    @apply relative cursor-pointer text-sm font-medium before:absolute before:bottom-[-2px] before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:rounded-sm before:bg-primary before:transition-transform before:duration-300 before:ease-in-out before:content-[''] hover:before:origin-left hover:before:scale-x-100;
  }
}

.ground {
  --left: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 5%;
  bottom: 0;
}

.world {
}

.customHidden {
  opacity: 0;
  transition: all 3s;
  transform: translateY(-10vh);
  filter: blur(5px);
}

.customShow {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}
