@tailwind base;
@tailwind components;
@tailwind utilities;

.ground {
  --left: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 5%;
  bottom: 0;
}

.world {
}

.customHidden {
  opacity: 0;
  transition: all 3s;
  transform: translateY(10vh);
  filter: blur(5px);
}

.customShow {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}
